/* Global Styling */

:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --myGreen: #519872;
    --myGreenHover: #418862;
    --myOrange: #ffa400;
    --myBlack: #1e1e1e;
    --myBlue: #376f9e;
    --offWhite: #fefefe;
    --gitColour: #fefefe;
    --linkedinColour: #3993dd;
    --pythonGreen: #519872;
    --htmlRed: #e05b31;
    --javascriptYellow: #ebe548;
    --javascriptYellowHover: #dbd538;
    --sqlGrey: #e9e9e9;
    --restOrange: #ffa400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    font-size: 16px;
}

/* Major styling */

html,
body {
    background-color: rgba(15, 15, 15, 0.75);
    color: white;
    overflow-x: hidden;
}

main {
    max-width: var(--max-width);
    margin: auto;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

/* Scroll Margin Fixes */

#about {
    scroll-margin-top: 50rem;
}

#skills {
    scroll-margin-top: 12rem;
}

#projects {
    scroll-margin-top: 7rem;
}

/* Nav Bar Styling */

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--myGreen);
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
}

.nav-bar ul a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding: 14px 16px;
    font-family: "inter";
    color: white;
    text-decoration: none;
}

.nav-bar ul a:hover {
    background-color: var(--myGreenHover);
}

@media (max-width: 720px) {
    .nav-bar ul {
        gap: 1rem;
    }
    .nav-bar ul a {
        font-size: 1em;
        padding: 12px 10px;
    }
}

/* Links */

#title-buttons {
    display: flex;
    justify-content: center;
}

/* Landing Area Styling */

.title-container {
    margin: auto;
    margin-top: 35vh;
    text-align: center;
    padding: 10px;
}

.title-container h1 {
    margin-bottom: 0.2em;
    color: var(--myOrange);
    font-family: "chivo";
    font-size: 3em;
}

.title-container h2 {
    margin-bottom: 0.6em;
    font-size: 2em;
    font-family: "chivo";
    font-weight: 100;
}

.title-underscore {
    margin: auto auto 1.4em auto;
    width: 25.4em;
    border: 0.5px solid var(--myOrange);
    border-radius: 5px;
}

.button-anchor {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
    grid-template-rows: 1fr;
    max-width: 10em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.git-button {
    margin-right: 0.7em;
    background-color: var(--gitColour);
    font-family: "inter";
    color: var(--myBlack);
}

.linkedin-button {
    background-color: var(--linkedinColour);
    font-family: "inter";
    color: white;
}

.button-svg {
    margin: 0.5em 0;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
    color: white;
}

.button-text {
    margin: 0.5rem 0;
    grid-column-start: 3;
    grid-column-end: 3;
    justify-self: center;
}

.bio {
    margin: auto;
    padding-top: 20vh;
    width: 80%;
    max-width: 70%;
    font-family: "inter";
    font-size: 1.6em;
    font-weight: 200;
    text-align: center;
}

@media (max-width: 720px) {
    .title-container {
        margin-top: 22vh;
        font-size: 14px;
    }
    .title-underscore {
        width: 22.4em;
    }
    .button-anchor {
        grid-template-columns: 40px 1px 1fr 1px 40px;
    }
}

@media (max-width: 480px) {
    .title-container {
        font-size: 12px;
    }
    .bio {
        max-width: 90%;
    }
    .title-underscore {
        width: 19em;
    }
}

/* Section Titles */

.section-title-container {
    margin: auto;
    width: 900px;
    max-width: 90%;
    text-align: center;
    /* border: 3px solid green; */
    padding: 10px;
}

.section-title {
    font-size: 2em;
    font-family: "chivo";
}

.section-subtitle {
    margin-top: 0.2em;
    font-size: 1.2em;
    font-family: "chivo";
    font-weight: 100;
}

.section-underscore {
    margin: 0.4em auto;
    width: 900px;
    max-width: 100%;
    border: 0.5px solid var(--myOrange);
    border-radius: 5px;
}

@media (max-width: 480px) {
    .section-title {
        font-size: 1.7em;
    }
    .section-subtitle {
        font-size: 1em;
    }
}

/* Skills Section */

#skills {
    margin-top: 20vh;
}

.skill-boxes-container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 50px;
}

.skill-box {
    height: 400px;
    width: 260px;
    text-align: center;
}

.coding-border {
    background: linear-gradient(#151515, #151515) padding-box,
        linear-gradient(130deg, #111412, var(--myBlue)) border-box;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.personal-border {
    background: linear-gradient(#151515, #151515) padding-box,
        linear-gradient(130deg, #111412, var(--myGreen)) border-box;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.experience-border {
    background: linear-gradient(#151515, #151515) padding-box,
        linear-gradient(130deg, #111412, var(--myOrange)) border-box;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.skill-box h4 {
    padding-top: 1.2rem;
    font-family: "inter";
    font-size: 1.2rem;
    color: var(--myOrange);
}

.skill-list {
    padding-top: 1rem;
    line-height: 1.6rem;
}

.skill-list li {
    font-size: 1.1em;
    font-family: "inter";
    font-weight: 200;
    line-height: 2em;
    list-style-type: none;
}

.job-title {
    padding-top: 1rem;
    font-family: "inter";
    font-size: 1rem;
    font-weight: 400;
}

.job-date {
    padding-top: 0.2rem;
    font-family: "inter";
    font-size: 1rem;
    font-weight: 100;
    color: var(--myOrange);
}

.job-description {
    margin: 0 5% 0.5rem 5%;
    padding-top: 0.2rem;
    font-family: "inter";
    font-size: 1rem;
    font-weight: 100;
}

@media (max-width: 1000px) {
    .skill-boxes-container {
        flex-direction: column;
        align-items: center;
    }
    .skill-list li {
        font-size: 1em;
    }
    .coding-border {
        padding-bottom: 1rem;
        height: 100%;
    }
    .personal-border {
        padding-bottom: 1rem;
        height: 100%;
    }
    .experience-border {
        padding-bottom: 1rem;
        height: 100%;
    }
}

/* Language Containers */

.disabled {
    background: darkslategray;
}

.python {
    background: var(--pythonGreen);
}

.html {
    background: var(--htmlRed);
}

.javascript {
    color: var(--myBlack);
    background: var(--javascriptYellow);
}

.javascript p {
    color: var(--myBlack);
}

.sql {
    background: var(--sqlGrey);
}

.sql p {
    color: var(--myBlack);
}

.restapi {
    background: var(--restOrange);
}

.restapi p {
    color: var(--myBlack);
}

.csharp {
    background: var(--myBlue);
}

.react {
    background: var(--myBlue);
}

.htmlcss {
    background: var(--htmlRed);
}

/* Featured Project */

#projects {
    margin-top: 15vh;
}

.languages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 95%;
    gap: 1rem;
}

@media (max-width: 520px) {
    .languages {
        gap: 0.5rem;
        /* flex-wrap: wrap; */
    }
    .language-container p {
        font-size: 0.9rem;
    }
}

.language-container {
    padding: 0.3rem 0.6rem;
    font-family: "inter";
    font-weight: 300;
    border-radius: 2rem;
}

.feature-container {
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid grey; */
}

.feature-info {
    max-width: 300px;
    font-family: "inter";
    /* border: 2px solid grey; */
}

.feature-info p {
    font-weight: 200;
    /* border: 2px solid grey; */
}

.project-desc-2 {
    margin-top: 1rem;
}

.site-link {
    display: inline-block;
    margin-top: 1.2rem;
    margin-right: 1rem;
    padding: 0.4rem 1.2rem;
    text-decoration: none;
    max-width: 10rem;
    background-color: var(--javascriptYellow);
    font-weight: 400;
    color: var(--myBlack);
    border-radius: 10px;
}

/* .feature-container img {
    border: 2px solid grey;
} */

@media (max-width: 800px) {
    .feature-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 3rem;
        gap: 2em;
    }
    .feature-info {
        max-width: 480px;
    }
    .center-links {
        display: flex;
        justify-content: center;
        margin-top: 0.2em;
    }
}

@media (max-width: 580px) {
    .feature-info {
        max-width: 85%;
    }
    .feature-container img {
        max-width: 85%;
        height: 100%;
    }
}

/* Other Projects */

#other-projects {
    margin-top: 15vh;
    text-align: center;
}

#filter-description {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    font-family: "inter";
    font-weight: 300;
}

.filter-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#language-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1em auto;
    max-width: 85%;
}

#filter-description {
    margin: 0.5em auto;
    max-width: 85%;
}

.language-button {
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: "Inter";
    color: white;
    border: none;
}

@media (max-width: 720px) {
    #language-filter {
        gap: 0.5rem;
    }
}

.projects {
    margin-top: 6rem;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    font-family: "Inter";
    margin-bottom: 6rem;
}

.project-description-container {
    text-align: left;
    max-width: 425px;
}

.project-title {
    font-weight: 400;
}

.project-subtitle {
    margin-top: 0.4rem;
    font-weight: 200;
}

.project-underscore {
    margin-top: 0.4rem;
    border: 0.5px solid var(--myOrange);
}

.project-languages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.6rem;
    gap: 1rem;
}

.project-container p {
    font-weight: 200;
}

.project-description {
    margin-top: 1rem;
}

@media (max-width: 920px) {
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }
    .project-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 4rem;
        gap: 2em;
        max-width: 85%;
    }
    .project-container img {
        width: 100%;
        height: 100%;
    }
}

/* Contact */

#contact {
    text-align: center;
    font-family: "inter";
    font-weight: 200;
    margin-bottom: 35vh;
}

#contact p {
    margin-top: 2rem;
}

#email {
    color: var(--javascriptYellow);
    text-decoration: none;
}

#email:hover {
    color: var(--javascriptYellowHover);
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0.8rem;
}

.social-links a:hover {
    scale: 1.2;
}

/* Stars */

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

.stars,
.twinkling {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -5;
}

.stars {
    background: #000 url(/images/stars.png) repeat top center;
}

.twinkling {
    background: transparent url(/images/twinkling.png) repeat top center;
    animation: move-twink-back 500s linear infinite;
    opacity: 50%;
}
