/* Global Styling */

:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --myGreen: #519872;
    --myGreenHover: #418862;
    --myOrange: #ffa400;
    --myBlack: #1e1e1e;
    --myBlue: #376f9e;
    --offWhite: #fefefe;
    --gitColour: #fefefe;
    --linkedinColour: #3993dd;
    --pythonGreen: #519872;
    --htmlRed: #e05b31;
    --javascriptYellow: #ebe548;
    --javascriptYellowHover: #dbd538;
    --sqlGrey: #e9e9e9;
    --restOrange: #ffa400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

/* Major styling */

html,
body {
    background-color: #151515;
    color: white;
    overflow-x: hidden;
}

main {
    max-width: var(--max-width);
    margin: auto;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

/* Scroll Margin Fixes */

#about {
    scroll-margin-top: 50rem;
}

#skills {
    scroll-margin-top: 12rem;
}

#projects {
    scroll-margin-top: 7rem;
}

/* Nav Bar Styling */

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--myGreen);
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
}

.nav-bar ul a {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    padding: 14px 16px;
    font-family: "inter";
    color: white;
    text-decoration: none;
}

.nav-bar ul a:hover {
    background-color: var(--myGreenHover);
}

/* Links */

#title-buttons {
    display: flex;
    justify-content: center;
}

.button-anchor {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
    grid-template-rows: 1fr;
    max-width: 10rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.git-button {
    margin-right: 0.7rem;
    background-color: var(--gitColour);
    font-family: "inter";
    color: var(--myBlack);
}

.linkedin-button {
    background-color: var(--linkedinColour);
    font-family: "inter";
    color: white;
}

.button-svg {
    margin: 0.5rem 0;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
    color: white;
}

.button-text {
    margin: 0.5rem 0;
    grid-column-start: 3;
    grid-column-end: 3;
    justify-self: center;
}

/* Landing Area Styling */

.title-container {
    margin: auto;
    margin-top: 35vh;
    width: 50%;
    text-align: center;
    /* border: 3px solid green; */
    padding: 10px;
}

.title-container h1 {
    margin-bottom: 0.8rem;
    color: var(--myOrange);
    font-family: "chivo";
    font-size: 3rem;
}

.title-container h2 {
    margin-bottom: 0.6rem;
    font-size: 2rem;
    font-family: "chivo";
    font-weight: 100;
}

.title-underscore {
    margin: auto auto 1.4rem auto;
    width: 25.4rem;
    border: 0.5px solid var(--myOrange);
    border-radius: 5px;
}

.bio {
    margin: auto;
    padding-top: 20vh;
    width: 80%;
    max-width: 46rem;
    font-family: "inter";
    font-size: 1.6rem;
    font-weight: 200;
    text-align: center;
}

/* Section Titles */

.section-title-container {
    margin: auto;
    margin-top: 20vh;
    width: 900px;
    text-align: center;
    /* border: 3px solid green; */
    padding: 10px;
}

.section-title {
    font-size: 2rem;
    font-family: "chivo";
}

.section-subtitle {
    margin-top: 0.2rem;
    font-size: 1.2rem;
    font-family: "chivo";
    font-weight: 100;
}

.section-underscore {
    margin: 0.4rem auto;
    width: 900px;
    border: 0.5px solid var(--myOrange);
    border-radius: 5px;
}

/* Skills Section */

.skill-boxes-container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 50px;
}

.skill-box {
    height: 320px;
    width: 260px;
    text-align: center;
}

.coding-border {
    background: linear-gradient(#151515, #151515) padding-box,
        linear-gradient(130deg, #111412, var(--myBlue)) border-box;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.personal-border {
    background: linear-gradient(#151515, #151515) padding-box,
        linear-gradient(130deg, #111412, var(--myGreen)) border-box;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.experience-border {
    background: linear-gradient(#151515, #151515) padding-box,
        linear-gradient(130deg, #111412, var(--myOrange)) border-box;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.skill-box h4 {
    padding-top: 1.2rem;
    font-family: "inter";
    font-size: 1.2rem;
    color: var(--myOrange);
}

.skill-list {
    padding-top: 1rem;
    line-height: 1.6rem;
    font-size: 1rem;
}

.skill-list li {
    font-family: "inter";
    font-weight: 200;
    list-style-type: none;
}

.job-title {
    padding-top: 1rem;
    font-family: "inter";
    font-size: 1rem;
    font-weight: 400;
}

.job-date {
    padding-top: 0.2rem;
    font-family: "inter";
    font-size: 0.8rem;
    font-weight: 100;
    color: var(--myOrange);
}

.job-description {
    margin: 0 5% 0.5rem 5%;
    padding-top: 0.2rem;
    font-family: "inter";
    font-size: 0.8rem;
    font-weight: 100;
}

/* Language Containers */

.python {
    background: var(--pythonGreen);
}

.html {
    background: var(--htmlRed);
}

.javascript {
    color: var(--myBlack);
    background: var(--javascriptYellow);
}

.javascript p {
    color: var(--myBlack);
}

.sql {
    background: var(--sqlGrey);
}

.sql p {
    color: var(--myBlack);
}

.restapi {
    background: var(--restOrange);
}

.restapi p {
    color: var(--myBlack);
}

.csharp {
    background: var(--myBlue);
}

.react {
    background: var(--myBlue);
}

.htmlcss {
    background: var(--htmlRed);
}

/* Featured Project */

.languages {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.language-container {
    padding: 0.3rem 0.6rem;
    font-family: "inter";
    font-weight: 300;
    border-radius: 2rem;
}

.feature-container {
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid grey; */
}

.feature-info {
    max-width: 25%;
    font-family: "inter";
    /* border: 2px solid grey; */
}

.feature-info p {
    font-weight: 200;
    /* border: 2px solid grey; */
}

.project-desc-2 {
    margin-top: 1rem;
}

.site-link {
    display: inline-block;
    margin-top: 1.2rem;
    margin-right: 1rem;
    padding: 0.4rem 1.2rem;
    text-decoration: none;
    max-width: 10rem;
    background-color: var(--javascriptYellow);
    font-weight: 400;
    color: var(--myBlack);
    border-radius: 10px;
}

/* Other Projects */

#filter-description {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    font-family: "inter";
    font-weight: 300;
}

.other-projects {
    text-align: center;
}

.language-button {
    margin: 0 0.5rem;
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: "Inter";
    color: white;
    border: none;
}

.projects {
    margin-top: 2rem;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
    font-family: "Inter";
}

.project-description-container {
    text-align: left;
    max-width: 425px;
}

.project-title {
    font-weight: 400;
}

.project-subtitle {
    margin-top: 0.4rem;
    font-weight: 200;
}

.project-underscore {
    margin-top: 0.4rem;
    border: 0.5px solid var(--myOrange);
}

.project-languages {
    display: flex;
    margin-top: 0.6rem;
    gap: 1rem;
}

.project-container p {
    font-weight: 200;
}

.project-description {
    margin-top: 1rem;
}

/* Contact */

#contact {
    text-align: center;
    font-family: "inter";
    font-weight: 200;
    margin-bottom: 35vh;
}

#contact p {
    margin-top: 2rem;
}

#email {
    color: var(--javascriptYellow);
    text-decoration: none;
}

#email:hover {
    color: var(--javascriptYellowHover);
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0.8rem;
}

.social-links a:hover {
    scale: 1.2;
}
